<!DOCTYPE html>
<html lang="en" class="h-100">


<head>
    <!-- meta and links start -->
    <%- include('templet/meta')-%>

</head>

<body>
    <%- include('templet/preloder_topbar_sidebar',{titel: language.Services })-%>

        <!--********** Content body start **********-->

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card ">

                            <div class="card-header">
                                <h3 class="card-title"><%= language.Edit_Services_Details %> </h3>
                                <button type="button" class="btn btn-rounded btn-primary" onclick="history.back()"><i
                                        class="la la-undo"></i> <%= language.Go_Back %> </button>
                            </div>
                            <div class="card-body ">
                                <form action="/services/updateservices/<%=services.id %>" method="post" class="need-validation" enctype="multipart/form-data">
                                    <div class="row">


                                        <!-- left side -->

                                        <div class="col-xl-9">
                                            <div class="row mt-3">
                                                <div class="col-md-7">
                                                    <label class="form-label"><%= language.Service_Name %> </label>
                                                    <input type="text" placeholder="Enter Service Name"
                                                        class="form-control" name="name_update" value="<%= services.name %>">
                                                    <input type="hidden" id="servalid" value="0" min=1 required>
                                                    <input type="hidden" id="add_servie_storelist" value="<%= services.store_ID %>">
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label class="btn btn-primary mt-4" for="file-1"
                                                        style="width: 100%;"><%= language.Upload_Image %> </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- right side -->

                                        <div class="col-xl-3">
                                            <div class="center">
                                                <div class="form-input">
                                                    <div class="preview m-4 mt-0">
                                                        <img id="file-preview" width="160" src="../../uploads/<%= services.image %>"
                                                            alt="image">
                                                    </div>
                                                    <input class="d-none" type="file" id="file-1" name="image_update"
                                                        accept="image/*" onchange="showPreview(event);">

                                                </div>
                                            </div>
                                        </div>

                                        <!-- table -->

                                        <div class="col-xl-12">
                                            <div class="table-responsive">
                                                <table class="table table-responsive-sm">
                                                    <thead>
                                                        <tr>
                                                           
                                                            <th><%= language.Service_Type %> </th>
                                                            <th><%= language.Service_Price %> </th>
                                                            <th><%= language.Action %> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblPage">
                                                        <% type.forEach(function(data, i){ %>
                                                            <tr>
                                                                <td> <div class="input-group"><select class="form-control" name="service_type">
                                                                    <% typedata.forEach(function(x){ %>
                                                                        <option value="<%=x.id %>" <%= data == x.id  ? 'selected': '' %> > <%= x.services_type %></option>
                                                                    <% }) %>
                                                                         </select> </div>
                                                                </td>
                                                                <td> <div class="input-group"> 
                                                                    <input type="flot" name="service_price" class="total form-control"  value="<%= price[i] %>"></div> </td>
                                                                <td><a id="remove"><i class="fa fa-times"></i></a></td>
                                                            </tr>
                                                        <% }) %>
                                                        
                                                    </tbody>
                                                </table>

                                                <div class="d-flex justify-content-end m-1">
                                                    <button type="button" class="btn btn-outline-secondary btn-xs"
                                                        id="add_service"><%= language.Add_Service_Type %> </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer mt-4">
                                            <div class="row">

                                                <!-- left side -->
                                                <div class="col-xl-9">
                                                    <div class="form-group">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" id="active"
                                                                name="active_update" value="0" <%= services.status == 0 ? 'checked': '' %> >
                                                            <label class="form-check-label" for="employee"><%= language.Is_Active %> ?</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- right side -->
                                                <div class="col-xl-3">
                                                    <button type="button" class="btn btn-secondary"
                                                        onclick="history.back()"><%= language.Cancel %></button>

                                                    <button type="submit" id="add"  class="btn btn-primary"><%= language.Submit %> </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--********** Content body end **********-->


        </div>
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><%= language.Copyright %> © <%= language.Designed %> &amp; <%= language.Developed_by %> <a href="#" target="_blank">KMS</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        </div>

        <!--********** Main wrapper end **********-->
        <%- include('templet/script')-%>

            

</body>


</html>