<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="laundry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.app_name%></title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="uploads/<%=data.app_favicon%>">
    <link href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
     <!-- Toastr -->
     <link rel="stylesheet" href="vendor/toastr/css/toastr.min.css">


</head>

<body class="h-100">
    <div class="authincation container h-100">
        <div class="row h-100 align-items-center justify-contain-center">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row m-0 justify-content-center align-items-center">
                            <div class="col-xl-6 col-md-6 sign text-center">
                                <div >
                                    
                                    <img src="images/login-bg.png" class="img-fix img-fluid bitcoin-img sd-shape7 mt-2">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="sign-in-your py-4 px-2">
                                    <div class="text-center mb-3">
                                        <a href="#"><img src="uploads/<%=data.app_logo%>" width="60px" alt=""></a>
                                    </div>
                                    <h4 class="fs-20">Sign in your account</h4>
                                    <span>Welcome back! Login with your data that you entered<br> during registration</span>
                                    <div class="login-social <%= data.type == '1' ? '':'d-none' %>">
                                        <a href="/shopregister" class="btn d-block btn-primary light my-3"><i class="fa fa-google me-2"></i>Sign up with Store/Branch</a>
                                        
                                    </div>
                                    
 

                                     <form action="/login" method="post" class="need-validation" id="login">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>User Name</strong></label>
                                                <input type="taxt" class="form-control" name="username" value="" required>
                                                
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" class="form-control " name="password" value="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Login As</strong></label>
                                            <select class="default-select form-control wide mb-3" name="loginas" required>
                                                <option value="" selected disabled>Select Option</option>
                                                <option value="0">Customer</option>
                                                <option value="1">Branch/Store/Admin/Staff</option>
                                            </select>
                                        </div>
                                        
                                        
                                            <button type="submit" class="btn btn-primary btn-block w-100">Sign Me In</button>
                                        
                                                                            
                                    </form>
                                    <div class="text-center my-3">
                                            <span class="dlab-sign-up style-1">Continue With</span>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <button class="btn btn-outline-light btn-sm btn-primary light me-2" id="masterAdmin"><i class="fa fa-user me-2"></i>Master Admin</button>
                                        <button class="btn btn-outline-light btn-sm btn-primary light me-2" id="Store1"><i class="fa fa-user me-2"></i>1 Store/Branch</button>
                                        <button class="btn btn-outline-light btn-sm btn-primary light me-2" id="Store2"><i class="fa fa-user me-2"></i>2 Store/Branch</button>
                                        
                                    </div>
                                     <div class="mb-3 text-center">
                                       
                                        <button class="btn btn-outline-light btn-sm btn-primary light me-4 me-2 mt-2" id="Manager"><i class="fa fa-user me-2"></i>Staff/Manager</button>
                                        <button class="btn btn-outline-light btn-sm btn-primary light me-4 me-2 mt-2" id="Customer1"><i class="fa fa-user me-2"></i>1 Customer</button>
                                        <button class="btn btn-outline-light btn-sm btn-primary light mt-2" id="Customer2"><i class="fa fa-user me-2"></i>2 Customer</button>
                                    </div>
                                    <div class="text-center">
                                        <span>Don't have an account?<a href="/register" class="text-primary"> Sign up</a></span>
                                        
                                        
                                    </div>                                  
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!--**********************************
	Scripts
***********************************-->
   <!-- Required vendors -->
   <%- include('templet/script')-%>

<script>
    $('#masterAdmin').click(function(){
        $('input[name=username]').val('admin')
        $('input[name=password]').val('1234')
        $('select[name=loginas]').val('1')
        $("form").submit()
    })

    $('#Store1').click(function(){
        $('input[name=username]').val('urbandhobi')
        $('input[name=password]').val('1234')
        $('select[name=loginas]').val('1')
        $("form").submit()
    })

    $('#Store2').click(function(){
        $('input[name=username]').val('abc')
        $('input[name=password]').val('123')
        $('select[name=loginas]').val('1')
        $("form").submit()
    })

    $('#Manager').click(function(){
        $('input[name=username]').val('abcd5')
        $('input[name=password]').val('7777')
        $('select[name=loginas]').val('1')
        $("form").submit()
    })

    $('#Customer1').click(function(){
        $('input[name=username]').val('mihir')
        $('input[name=password]').val('123')
        $('select[name=loginas]').val('0')
        $("form").submit()
    })
    $('#Customer2').click(function(){
        $('input[name=username]').val('mayur')
        $('input[name=password]').val('123')
        $('select[name=loginas]').val('0')
        $("form").submit()
    })
  
</script>
</body>


</html>