<!DOCTYPE html>
<html lang="en" class="h-100">


<head>
    <!-- meta and links start -->
    <%- include('templet/meta')-%>

        <style>

        </style>

</head>

<body>
    <%- include('templet/preloder_topbar_sidebar',{titel: language.Master_Settings })-%>

        <!--********** Content body start **********-->

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card ">
                            
                            <div class="card-body">

                                <div class="shop_form">
                                    <form class="row align-items-center" action="/tool/setmasterdata" method="post" enctype="multipart/form-data" id="master_setting">
                                        <div class="row">
                                            <p><%= language.Muilty_Store_Settings %> </p>
                                            <hr>
                                            <div class="col-md-4">
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label mx-1" for="multy">
                                                        <h4> <%= language.Single_Store_or_Multi_Store %>  </h4>
                                                    </label>
                                                    <input class="form-check-input" type="checkbox" id="multy" name="multy" value="1" <%= masterstore.type == 1 ?  'checked' : '' %>>
                                                </div>
                                            </div>

                                            <p class="mt-5"> <%= language.Auto_Approval_Settings %> </p>
                                            <hr>

                                            
                                            <div class="col-md-4 mt-5">
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label mx-1" for="customer_approved">
                                                        <h4> <%= language.Customer_Auto_Approved %>  </h4>
                                                    </label>
                                                    <input class="form-check-input" type="checkbox" id="customer_approved" name="customer_approved" value="1" <%= masterstore.customer_autoapprove == 1 ?  'checked' : '' %>>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mt-5">
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label mx-1" for="store_approved">
                                                        <h4> <%= language.Store_Auto_Approved %>  </h4>
                                                    </label>
                                                    <input class="form-check-input" type="checkbox" id="store_approved" name="store_approved" value="1" <%= masterstore.store_autoapprove == 1 ?  'checked' : '' %>>
                                                </div>
                                            </div>


                                            <div class="col-md-4 ">
                                                <label class="form-label"><%= language.Default_Store_Roll %> </label>
                                                <select class="default-select form-control wide" name="storeroll">
                                                    <option value="0" selected >Choose Roll</option>
                                                    <% roll.forEach(function(data){ %>
                                                        <option value="<%=data.id %>" <%= masterstore.storeroll == data.id ?  'selected' : '' %> ><%=data.roll%></option>
                                                    <% }) %>   
                                                </select>
                                            </div>


                                            <p class="mt-5"> <%= language.Currency_Settings %> </p>
                                            <hr>
                                            <div class="col-md-4 mt-4">
                                                <label class="form-label"><%= language.Currency %> </label>
                                                <input type="text" class="form-control" name="currency" value="<%= masterstore.currency_symbol%>"
                                                    placeholder="Enter Currency Symbol">
                                            </div>

                                            <div class="col-md-4 mt-4">
                                                <label for="" class="m-3"> </label>
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label mx-1" for="Symbol_Placement">
                                                        <h5> <%= language.Currency_Symbol_Placement_Right_side %> (<%= language.Default_Left_Side %>)</h5>
                                                    </label>
                                                    <input class="form-check-input" type="checkbox" id="Symbol_Placement" name="Symbol_Placement" value="1" <%= masterstore.currency_placement == 1 ?  'checked' : '' %>>
                                                </div>
                                            </div>

                                            <div class="col-4 mt-4">
                                                <label for="Thousands_Separator" class="form-label"><%= language.Thousands_Separator %> </label>
                                                <select class="form-control wide" name="thousands_separator"> 
                                                  <option value="1" <%= masterstore.thousands_separator == 1 ?  'selected' : '' %> >, (Comma)</option>
                                                  <option value="2" <%= masterstore.thousands_separator == 2 ?  'selected' : '' %> >. (Full Stop)</option>
                                                  <option value="3" <%= masterstore.thousands_separator == 3 ?  'selected' : '' %> >` (Apostrophe)</option>
                                                  <option value="4" <%= masterstore.thousands_separator == 4 ?  'selected' : '' %> >None</option>
                                                  <option value="5" <%= masterstore.thousands_separator == 5 ?  'selected' : '' %> >Space</option>
                                                </select>
                                              </div>

                                            <p class="mt-5"> <%= language.Logo_Settings %> </p>
                                            <hr>

                                            <div class="row mt-4  justify-content-between">
                                                
                                                <div class="col-md-4 align-self-end">
                                                    <label class="form-label"><%= language.App_Name %> </label>
                                                    <input type="text" class="form-control" name="appname" value="<%= masterstore.app_name %>"
                                                        placeholder="Enter App Name">
                                                </div>

                                                <div class="form-input col-md-4 ">
                                                    <center>
                                                    <div class="preview m-3 mt-0">
                                                        <img id="file-preview" width="180" src="../uploads/<%= masterstore.app_logo %>"
                                                            alt="image">
                                                    </div>

                                                    <input class="d-none" type="file" id="logo" name="logo"
                                                        accept="image/*" onchange="showPreview(event);">
                                                    <div>
                                                        <label class="btn btn-primary w-75 mb-0  align-self-end" for="logo"> <%= language.Logo %> </label>
                                                    </div>
                                                    </center>
                                                </div>

                                                <div class="form-input col-md-4">
                                                    <center >
                                                    <div class="preview m-3 mt-0 mb-3 p-4">
                                                        <img id="file-favicon" width="100" src="../uploads/<%= masterstore.app_favicon %>"
                                                            alt="image">
                                                    </div>

                                                    <input class="d-none" type="file" id="favicon" name="favicon"
                                                        accept="image/*" onchange="showfavicon(event);">
                                                    <div class="pt-3">
                                                        <label class="btn btn-primary w-75 mb-0 align-self-end" for="favicon"><%= language.Favicon %> </label>
                                                    </div>
                                                    </center>
                                                </div>

                                               

                                            </div>

                                            <p class="mt-5"> <%= language.Other_Settings %> </p>
                                            <hr>
                                            <div class="col-md-6 mt-4">
                                                <label class="form-label"><%= language.Timezone %> </label>
                                                <select class="default-select form-control wide" name="timezone"
                                                    id="timezone" data-id="<%= masterstore.timezone %>">
                                                    <option value selected disabled>Choose Timezone</option>
                                                   
                                                    
                                                   
                                                </select>
                                            </div>

                                            <!-- <div class="col-md-4 mt-4">
                                                <label class="form-label"><%= language.Printer_POS %> </label>
                                                <select class="default-select form-control wide" name="printer_pos">
                                                    <option value="0" <%= masterstore.printer == 0 ?  'selected' : '' %>>A4</option>
                                                    <option value="1" <%= masterstore.printer == 1 ?  'selected' : '' %>>Thermal</option>
                                                </select>
                                            </div> -->


                                            <p class="mt-5"> <%= language.Notification_Verification %> </p>
                                            <hr>
                                            <div class="col-md-6 mt-4">
                                                <label class="form-label"><%= language.OneSignal_App_ID %> </label>
                                                <input type="text" class="form-control" name="onesignal_app_id" value="ilaundry_secret_data">
                                            </div>

                                            <div class="col-md-6 mt-4">
                                                <label class="form-label"><%= language.OneSignal_API_Key %> </label>
                                                <input type="text" class="form-control" name="onesignal_api_key" value="ilaundry_secret_data">
                                            </div>

                                            
                                            <p class="mt-5"><%= language.SMS_Verification %> </p>
                                            <hr>

                                            <div class="col-6">
                                                <label class="form-label"><%= language.Twilio_Account_SID %>  </label>
                                                <input class="form-control" type="text" name="twilio_sid" value="ilaundry_secret_data" placeholder="Twilio Account SID">
                                            </div>

                                            <div class="col-6">
                                                <label class="form-label"><%= language.Twilio_Auth_Token %> </label>
                                                <input class="form-control" type="text" name="twilio_auth_token" value="ilaundry_secret_data" placeholder="Twilio Auth Token">
                                            </div>

                                            <div class="col-6 mt-3">
                                                <label class="form-label"><%= language.Twilio_Phone_Number %> </label>
                                                <input class="form-control" type="text" name="twilio_phone_no" value="ilaundry_secret_data" placeholder="Twilio Phone Number">
                                            </div>

                                        </div>

                                        <div class="mt-4 d-flex justify-content-end">
                                            <button type="submit" id="master_setting_submit" class="btn btn-primary btn-lg m-5 px-5"><%= language.Save_Data %> </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>



          

                    
                </div>
            </div>


        </div>

        <!--********** Content body end **********-->

          <!-- <<<<<<<<<alert mode >>>>>>>>>>> -->
            <div class="modal fade" id="multy_alert">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">   
                    </div>

                </div>

            </div>

             <!-- Modal coupon -->
             <div class="modal fade" id="POS_coupon_model">
                <div class="modal-dialog" role="document">
                    <div class="card">
                        <div class="alert alert-primary notification mb-0">
                            <p class="notificaiton-title mb-2"><strong><%= language.Confirmation %></strong> </p>
                            <p><%= language.Are_you_sure_you_want_to_switch_Multi_Store_Branch_to_Single %> </p>
                            <p><%= language.Note %> : <%= language.All_customer_data_move_to_the_default_first_store_if_you_switch %> </p>
                            <button class="btn btn-primary btn-sm" id="multy_confirm"><%= language.Confirm %> </button>
                            <button class="btn btn-link btn-sm" id="multy_cancel"><%= language.Cancel %></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><%= language.Copyright %> © <%= language.Designed %> &amp; <%= language.Developed_by %> <a href="#" target="_blank">KMS</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        </div>

        <!--********** Main wrapper end **********-->
        <%- include('templet/script')-%>
           
           

</body>

</html>
