<!DOCTYPE html>
<html lang="en" class="h-100">


<head>
     <!-- meta and links start -->
     <%- include('templet/meta')-%> 
    
</head>
<body>
    <%- include('templet/preloder_topbar_sidebar',{titel: language.Notification })-%> 
       
            <!--********** Content body start **********-->
     
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display table-responsive-md" aria-label="table">
                                        <thead>
                                            <tr>
                                                <th><%= language.Invoice %> </th>
                                                <th><%= language.Date %> </th>
                                                <th><%= language.Notification %> </th>
                                                <th><%= language.Action %> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% notification_data.forEach((data) => { %>
                                                <tr>
                                                    <td><%= data.invoice %></td>
                                                    <td><%= data.date %></td>
                                                    <td><%= data.notification %></td>
                                                    <td>
                                                        <% order_date.forEach((order_date) => { %>
                                                            <% if (data.invoice == order_date.order_id) { %>
                                                                <a href="/order/view/<%=order_date.id %>"><i class="fa fa-eye f-20"></i></a>
                                                            <% } %>
                                                        <% }) %>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
      
            <!--********** Content body end **********-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><%= language.Copyright %> © <%= language.Designed %> &amp; <%= language.Developed_by %> <a href="#" target="_blank">KMS</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

    </div>

        <!--********** Main wrapper end **********-->
    <!--**********************************
        Scripts
    ***********************************-->
    <%- include('templet/script')-%>

</body>
</html>